<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:: INDEX ::</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
<script>

function login(){
  let idValue = $("#id").val();
  let pwValue = $("#pw").val();

	//아이디, 비밀번호가 null이면 alert창 발생
  if(!idValue){
    alert("아이디를 입력하세요");
    $("#id").focus();
  }else if(!pwValue){
    alert("비밀번호를 입력하세요");
    $("#pw").focus();
  }else{
	  //db에 있는 아이디/비밀번호 비교
	  $.ajax({
	    url:'/select_loginCheck',
	    data: {'id': idValue,'password': pwValue},
	    success: function(data){
	      if(data){
	        alert('로그인성공');
	        location.reload(true);
	      } else{
	        alert('로그인실패');
	        location.reload(true);
	      }
	    }
	  });
  }
}

//회원가입창으로 이동
function moveJoinPage(){
	location.href = '/userJoinPage';
}
</script>
<body>

<!-- 로그인페이지, 회원 입력 (회원 가입), 상품 입력/목록 페이지 만들기 -->

<div class="login_container">
    <section class="login_wrap">
        <div class="input_wrap">
            <h3>로그인</h3>
            <input type="text" id="id" placeholder="아이디를 입력하세요">
            <label for="id"></label>
        </div>
        <div class="input_wrap">
            <h3>비밀번호</h3>
            <input type="password" id="pw" placeholder="비밀번호를 입력하세요">
            <label for="pw"></label>
        </div>
        <a href="#" class="btn_login yellow_L_200" onclick="login()"><span class="t_white">로그인</span></a>
        <a href="#" class="btn_login yellow_L_200" onclick="moveJoinPage()"><span class="t_white">회원가입</span></a>
    </section>
</div>

</body>
</html>
